html {
	background : gray ;
	height : 100% ;
}

body {
	background-color : none ;
	height: 100% ;
}

body  > * {
	margin-top : 0.5rem ;
}

body > header {
	display : flex ;
	flex-direction : row ;
	align-items : left ;
	background-color : white ;
	color : black ;
}

body > header > *:not(:first-child) {
	margin-left : 1rem ;
}

.char-btn {
	font-size : 2rem ;
}


.content {
	display : flex ;
	flex-direction : column ;
	align-items : center ;
}

.content > * {
	background-color : white ;
	color : black ;
	max-width : 80rem ;
	padding : 0.5rem ;
	border-radius : 0.5rem ;
}

body > .content > article {
	min-height: 85% ;
	min-width : 25rem ;
	width : 70% ;
}

body > footer {
	background : white;
	color : black ;
}

form.typepost > * {
	display: block ;
}

form.typepost > *:not(:first-child) {
	margin-top : 0.5rem ;
}

form.typepost > .desc {
	min-height : 4rem ;
	min-width : 25rem ;
}

form.typepost > .post {
	min-height : 25rem ;
	min-width : 25rem ;
}

