html {
	background : #212529 ;
	/*height : 100% ;*/
}

body {
	/*background-color : none ;*/
	width : 100% ;
	height: fit-content ;
	font-family : Dejavu Sans ;
	font-size : 0.95rem ;
	margin : 0 ;
}


body > header {
	position : sticky ;
	top : 0.25rem ;
	display : flex ;
	flex-direction : row ;
	align-items : left ;
	background-color : none ;
	color : black ;
}

body > header > * {
	background-color : #FFDEAD ;
}

body > header > *:not(:first-child) {
	margin-left : 1rem ;
}

.char-btn {
	font-size : 2rem ;
	background-color : #353535 ;
	color : white ;
	border-radius : 0.25rem ;
}


a, a:visited {
	text-decoration : none ;
	color : blue ;
}

.char-btn a:visited, .char-btn a {
	color : white ;
}

.content {
	display : flex ;
	flex-direction : column ;
	align-items : center ;
	margin-top : 1rem ;
	padding : 1rem ;
}


.content > * {
	background-color : #FFDEAD ;
	padding : 0.5rem ;
	width : 100% ;
	margin : 1rem ;
	border-radius : 0.5rem ;
}

.content img {
	max-width : 100% ;
}

body > .content article {
}

body > .content > .post-entry:not(:first-child) {
	margin-top : 1rem ;
}

body > footer {
	background : white;
	color : black ;
}

form.typepost {
	padding : 0.72rem ;
	width : 100% ;
}

form.typepost > * {
	display: block ;
	width : 100% ;
	min-height : 1rem ;
}

form.typepost > *:not(:first-child) {
	margin-top : 0.5rem ;
}

form.typepost > .title {
}

form.typepost > .pass {
	background-color : #E3DAC9 ;
}

form.typepost > .desc {
	resize : vertical ;
	height : 5rem ;
}

form.typepost > .post {
	background : #F5F5DC  ;
	resize : vertical ;
	height : 25rem ;
}

.page-btn-box {
	position : sticky ;
	bottom : 0.25rem ;
	display : flex ;
	color : white ;
	background-color : #353535 ;
	flex-direction : row ;
	justify-content : center ;
	align-items : center ;
	gap : 1rem ;
	margin-top : 0.25rem ;
	width : fit-content ;
}

